.icon-home3:before {
    content: "\e902";
  }
  .icon-bullhorn:before {
    content: "\e91a";
  }
  .icon-lifebuoy:before {
    content: "\e941";
  }
  .icon-compass2:before {
    content: "\e94a";
  }
  .icon-clock:before {
    content: "\e94e";
  }
  .icon-alarm:before {
    content: "\e950";
  }
  .icon-stopwatch:before {
    content: "\e952";
  }
  .icon-user:before {
    content: "\e971";
  }
  .icon-search:before {
    content: "\e986";
  }
  .icon-heart:before {
    content: "\e9da";
  }
  .icon-google-plus:before {
    content: "\ea8b";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-flickr4:before {
    content: "\eaa6";
  }
  .icon-dribbble:before {
    content: "\eaa7";
  }
  .icon-skype:before {
    content: "\eac5";
  }